/* LANDING PAGE */
.landing-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
                       rgba(0, 0, 0, 0.3)), url("src/forest-background.png");
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    height: 100%;
}

.landing-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    gap: 3rem;
    flex-wrap: wrap;
}

.wood-box-text {
    max-width: 35rem;
}

.yellow-highlight {
    color: var(--yellow-golden) !important;
}

.landing-title {
    font-family: "Glitter Candy";
    color: var(--pure-white);
    font-size: 2.8rem;
    text-shadow:
    -2.5px -2.5px 0 var(--dirt-brown),
     0   -2.5px 0 var(--dirt-brown),
     2.5px -2.5px 0 var(--dirt-brown),
     2.5px  0   0 var(--dirt-brown),
     2.5px  2.5px 0 var(--dirt-brown),
     0    2.5px 0 var(--dirt-brown),
    -2.5px  2.5px 0 var(--dirt-brown),
    -2.5px  0   0 var(--dirt-brown);
    letter-spacing: 2px;
}

.right-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.caroussel-container {
    position: relative;
    width: 24rem;
    height: auto;
}

.caroussel-item {
    position: relative;
    width: 24rem;
    height: 30.625rem;
    display: none;
    opacity: 0;
    animation: fadeInOut 0.3s ease-in forwards;
}

.caroussel-item.active {
    display: flex;
    opacity: 1;
}

.caroussel-item img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 9px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-caroussel-title {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 6rem;
    padding-left: 0.4rem;
    font-family: "Poppins Bold";
    font-size: 1.3rem;
}

.card-caroussel-p {
    padding: 1rem .4rem;
    font-family: "Poppins Light";
    font-size: 1.3rem;
}

.card-caroussel-btn {
    text-decoration: none;
    color: var(--pure-white);
    padding: 1rem 3rem;
    margin-top: 5.5rem;
    border-radius: 50px;
    font-family: "Poppins Bold";
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.caroussel-item:hover .overlay {
    opacity: 1;
}

.overlay h3, .overlay p, .overlay button {
    margin: 0.5rem;
}

.overlay button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--lime-green);
    color: white;
    cursor: pointer;
}

.caroussel-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .8rem;
    border-radius: 50px;
    margin-top: 1rem;
    background-color: var(--pure-white);
    width: 7rem;
    z-index: 1;
    position: relative;
}

.caroussel-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.caroussel-buttons input[type="radio"] {
    appearance: none;
    background-color: var(--inertial-grey);
    margin: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.caroussel-buttons input[type="radio"]:checked {
    background-color: var(--lime-green) !important;
}

.hero-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap; /* Permite que os itens quebrem para uma nova linha */
    padding: 4rem 2rem; /* Ajuste o preenchimento conforme necessário */
    margin-top: -6rem; /* Empurra o "hero footer" para o final da página */
}

.credits {
    font-family: "Poppins Light";
    color: var(--pure-white);
    font-size: 1.3rem;
    text-align: center; /* Centraliza o texto para evitar quebras */
}

.college-logo {
    display: flex;
    flex-wrap: wrap; /* Permite que os logos quebrem para uma nova linha */
    gap: 2rem;
}

#logo-usp {
    height: 90px; /* Ajuste a altura conforme necessário */
}


.intro-guarani-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.guarani-pictures {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.intro-guarani-pic {
    width: 100%;
    max-width: 25rem;
    font-family: "Poppins Light";
    text-align: right;
    color: var(--pure-white);
    display: flex;
    flex-direction: column;
}

.intro-guarani-pic img {
    width: 100%;
}

.guarani-info-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.form-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.info-control {
    background-color: var(--moss-green);
    padding: 1rem 2.5rem;
    cursor: pointer;
    border-top: 6px solid var(--forest-green);
    border-bottom: 6px solid var(--forest-green);
    border-left: 3px solid var(--forest-green);
    border-right: 3px solid var(--forest-green);
    font-family: "Poppins Bold";
    font-size: 1.6rem;
    color: var(--pure-white);
    transition: background-color 0.3s, color 0.3s;
}

.info-control.active {
    background-color: var(--forest-green);
    color: var(--pure-white);
}

.info-control:first-child {
    border-left: 6px solid var(--forest-green) !important;
    border-radius: 20px 0 0 20px;
}

.info-control:last-child {
    border-right: 6px solid var(--forest-green) !important;
    border-radius: 0 20px 20px 0;
}

.info-control input[type="radio"] {
    appearance: none;
    margin: 0;
}

.guarani-info {
    width: 100%;
    max-width: 80%;
    display: none;
    margin-top: 2rem;
    justify-content: center;
    padding-top: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.guarani-info.active {
    display: flex;
}

.guarani-info-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    color: var(--pure-white);
}

.guarani-info-text h2 {
    margin: 0;
    font-family: "Poppins Bold";
    font-size: 2.1rem;
}

.guarani-info-text p {
    font-family: "Poppins Light";
    font-size: 1.5rem;
}

.guarani-info-picture {
    width: 100%;
    max-width: 28rem;
}

.guarani-info-picture img {
    width: 100%;
    max-height: 35rem;
}

.guarani-info-picture p {
    font-family: "Poppins Light";
    color: var(--pure-white);
    text-align: center;
}

.intro-sistema-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.intro-sistema-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.intro-sistema-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 20rem;
}

.info-card-title {
    font-family: "Poppins Bold";
    color: var(--pure-white);
    font-size: 1.8rem;
}

.info-card-sistema {
    font-size: 1.5rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* QUINTA SECTION - VÍDEO INTRODUTÓRIO */
.intro-video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.landing-video {
    outline: 7px solid var(--forest-green);
    width: 80%;
    height: 40rem;
    margin: .75rem 1.5rem 1.5rem 1.5rem;
}

.landing-video-title {
    font-family: "Glitter Candy";
    color: var(--pure-white);
    font-size: 2.8rem;
    letter-spacing: 3px;
    text-shadow:
    -2.5px -2.5px 0 var(--dirt-brown),
     0   -2.5px 0 var(--dirt-brown),
     2.5px -2.5px 0 var(--dirt-brown),
     2.5px  0   0 var(--dirt-brown),
     2.5px  2.5px 0 var(--dirt-brown),
     0    2.5px 0 var(--dirt-brown),
    -2.5px  2.5px 0 var(--dirt-brown),
    -2.5px  0   0 var(--dirt-brown);
    text-align: center;
}

.hand-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
}

#hand-card {
    font-size: 1.5rem;
    margin-top: 3rem;
    width: 100%;
    max-width: 72rem;
    height: fit-content;
    font-size: 1.3rem;
}

#tabela-contagem-maos {
    margin: 3rem 0;
    width: 80%;
}

.feedback-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.feedback-form-container {
    background-color: var(--pure-white);
    width: 50rem;
    height: auto;
    margin: 4rem 0 0 0 !important;
    padding: 1rem 0;    
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-form-container h1 {
    font-family: "Glitter Candy";
    font-size: 3.2rem;
    color: var(--forest-green);
    align-self: center;
    justify-self: center;
}

.voltar-topo-btn {
    margin-top: 5rem;
}

/* MEDIA QUERIES */
@media (max-width: 1484px){
    .guarani-info-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .landing-main {
        gap: 2rem;
    }

    .caroussel-container {
        width: 20rem;
    }

    .caroussel-item {
        width: 20rem;
    }

    .caroussel-item img {
        width: 100%;
    }

    .caroussel-controller {
        width: 6rem;
    }

    .feedback-form-container {
        padding: 1rem 2rem;
    }

    .landing-title {
        font-size: 2.4rem;
    }

    .guarani-info-text h2 {
        text-align: center;
    }

    .guarani-info-text p {
        text-align: center;
    }

    .intro-sistema-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .feedback-form-container {
        padding: 1rem 2rem;
    }

    .feedback-form-container h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 1064px){
    .info-control:nth-child(3) {
        border-right: 6px solid var(--forest-green) !important;
        border-radius: 0 20px 20px 0 !important;
    }

    .info-control:nth-child(4) {
        border-left: 6px solid var(--forest-green) !important;
        border-radius: 20px !important;
    }
}

@media (max-width: 1000px){
    #tabela-contagem-maos {
        display: none;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #landing-btn {
        margin-top: 2rem;
    }
}

@media (max-width: 850px){
    
    .feedback-form-container {
        width: 35rem;
    }
}

@media (max-width: 807px){
    .info-control:nth-child(2) {
        border-right: 6px solid var(--forest-green) !important;
        border-radius: 0 20px 20px 0 !important;
    }

    .info-control:nth-child(3) {
        border-right: 6px solid var(--forest-green) !important;
        border-radius: 20px 0 0 20px !important;
    }

    .info-control:nth-child(4) {
        border-left: 6px solid var(--forest-green) !important;
        border-radius: 0 20px 20px 0 !important;
    }
}

@media (max-width: 768px) {
    .landing-main {
        padding: 2rem 0;
        gap: 1rem;
        flex-direction: column;
    }

    .info-control:nth-child(2) {
        border-radius: 0 !important;
    }

    .info-control:nth-child(3) {
        border-radius: 0 !important;
    }

    .wood-text {
        width: 90%;
        margin: 0 auto;
        font-size: 1rem;
    }

    .guarani-pictures {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-guarani-pic {
        width: 100%;
        margin-bottom: 1rem;
    }

    .intro-guarani-pic img {
        width: 100%;
        height: auto;
    }

    .intro-guarani-pic p {
        text-align: center;
        font-size: 0.9rem;
    }

    .caroussel-container {
        width: 100%;
    }

    .caroussel-item {
        width: 100%;
    }

    .landing-title {
        font-size: 2rem;
        text-align: center;
    }

    .card-caroussel-p {
        font-size: 1.1rem;
    }

    .card-caroussel-btn {
        font-size: 1.3rem;
    }

    .feedback-form-container {
        padding: 1rem;
    }

    .feedback-form-container h1 {
        font-size: 2.4rem;
        text-align: center;
    }

    .landing-video-title {
        font-size: 2.2rem;
    }

    .wood-box p {
        font-size: 1rem;
    }

    .info-control {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .guarani-info-text h2 {
        text-align: center;
        font-size: 1.8rem;
    }

    .guarani-info-text p {
        text-align: center;
        font-size: 1.2rem;
    }

    .info-card-title {
        font-size: 1.5rem;
    }

    .intro-sistema-card {
        width: 100%;
    }

    .intro-sistema-container {
        justify-content: center;
    }

    .hero-footer {
        flex-direction: column; /* Altera a direção para coluna em telas menores */
        text-align: center; /* Centraliza o conteúdo quando em coluna */
    }

    .college-logo {
        flex-direction: column; /* Organiza os logos em coluna */
        gap: 1rem;
    }
}

@media (max-width:716px) {
    .info-control:nth-child(3) {
        border-right: 6px solid var(--forest-green) !important;
        border-radius: 0 20px 20px 0 !important;
    }

    .info-control:nth-child(4) {
        border-left: 6px solid var(--forest-green) !important;
        border-radius: 20px !important;
    }

    
    .feedback-form-container {
        width: 30rem;
    }
}

@media (max-width: 560px){
    
    .feedback-form-container {
        width: 30rem;
    }
}

@media (max-width: 544px){

        .info-control:nth-child(2) {
            border-right: 6px solid var(--forest-green) !important;
            border-radius: 0 20px 20px 0 !important;
        }
    
        .info-control:nth-child(3) {
            border-right: 6px solid var(--forest-green) !important;
            border-radius: 20px 0 0 20px !important;
        }
    
        .info-control:nth-child(4) {
            border-left: 6px solid var(--forest-green) !important;
            border-radius: 0 20px 20px 0 !important;
        }
    
}

@media (max-width: 480px) {
    .landing-title {
        font-size: 1.8rem;
    }

    .info-control:nth-child(2) {
        border-radius: 0 !important;
    }

    .info-control:nth-child(3) {
        border-right: 6px solid var(--forest-green) !important;
        border-radius: 0 20px 20px 0 !important;
    }

    .info-control:nth-child(4) {
        border-left: 6px solid var(--forest-green) !important;
        border-radius: 20px !important;
    }

    .card-caroussel-p {
        font-size: 1rem;
    }

    .card-caroussel-btn {
        font-size: 1.2rem;
        padding: 0.8rem 2rem;
    }

    .caroussel-controller {
        width: 5rem;
    }

    .guarani-info-text h2 {
        font-size: 1.6rem;
    }

    .guarani-info-text p {
        font-size: 1rem;
    }

    .info-control {
        padding: 0.8rem;
        font-size: 1rem;
    }

    .info-card-title {
        font-size: 1.2rem;
    }

    .landing-video-title {
        font-size: 1.8rem;
    }
    
    .feedback-form-container {
        width: 100%;
        padding: 1rem;
    }

    .feedback-form-container h1 {
        font-size: 2rem;
    }

    .voltar-topo-btn {
        margin-top: 2rem;
    }
}

@media (max-width: 466px){

    .info-control:nth-child(2) {
        border-right: 6px solid var(--forest-green) !important;
        border-radius: 0 20px 20px 0 !important;
    }

    .info-control:nth-child(3) {
        border-right: 6px solid var(--forest-green) !important;
        border-radius: 20px 0 0 20px !important;
    }

    .info-control:nth-child(4) {
        border-left: 6px solid var(--forest-green) !important;
        border-radius: 0 20px 20px 0 !important;
    }

}

@media (max-width: 377px){

    .info-control:nth-child(3) {
        border-right: 6px solid var(--forest-green) !important;
        border-radius: 20px !important;
    }

    .info-control:nth-child(4) {
        border-left: 6px solid var(--forest-green) !important;
        border-radius: 20px !important;
    }

}